main div.alinha{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
main div#conteudo{
    text-align: center;
}
main a{
    color:#000;
}
footer a{
    color: #0f9d58;
    text-decoration: none;
}
