body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
    font-size: 25px;
}
.logo,.nome-loja{
    margin: 40px;
}
.nome-loja{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 45px;
}
header div, footer{
    display: flex;
    justify-content:center;
    background-color: #000;
    color: #fff;
}
header img{
    height: 80px;
}
main{
    margin: 40px;
    padding: 10px;
    text-align: center;
}
main img{
    border-radius: 3px;
}
footer div{
    padding: 40px;
}
