.abaixo{
    margin-top: 50px;
}
section{
    display: flex;
    justify-content:center;
    font-size: 15px;
    max-width: 400px;
    background-color: #17181a70;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
section div{
    padding: 20px;
}
section a{
    text-decoration: none;
    color: #fff;
}
